@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$Violet: hsl(257, 40%, 49%);
$Soft-Magenta: hsl(300, 69%, 71%);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $Violet;
  background-image: url(../images/bg-desktop.svg);
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 40px;
}
header {
  .logo-container {
    img {
      margin-bottom: 50px;
    }
  }
}
.main-container {
  .second-container {
    max-width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 992px) {
      max-width: 1500px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .image-container {
      margin: 50px;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    .content {
      height: 100%;
      padding: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 30px;

      h3 {
        font-size: 3rem;
        margin-bottom: 25px;
        color: white;
      }
      p {
        color: rgb(224, 214, 214);
        font-weight: 300;
        margin-bottom: 25px;
        font-size: 1.8rem;
      }
      a button {
        padding: 30px 80px;
        font-size: 1.7rem;
        border-radius: 50px;
        box-shadow: 10px 10px 10px rgb(75, 72, 72);
        color: $Soft-Magenta;
        &:active {
          background-color: $Soft-Magenta;
          color: #fff;
        }
      }
    }
  }
}
.footer {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 15px;
  .mini-container {
    width: 10px;
    height: 10px;
    color: white;
    padding: 30px;
    margin: 20px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 2rem;
    }
  }
}
